body {
  font-family: sans-serif;
}

.item {
  background-color: lavender;
  border: solid blueviolet 1px;
}

.grid-container {
  border: dotted 4px black;
  /* height: 300px; */
  display: grid;
  grid-template-columns: 70px 100px 40px;
  /* grid-template-rows: 50px 60px 70px; */
  justify-items: stretch;
  align-items: stretch;
  justify-content: center;
  align-content: space-evenly;
}

a {
  /* display: inline-block; */
  /* width: 30px; */
  /* height: 20px; */
  background-color: black !important;
  color: white;

  /* grid-column-start: 1;
  grid-column-end: 4; */
  grid-column: 1 / 4;
  grid-column: 1 / span 2;


  /* grid-row-start: 2;
  grid-row-end: 5; */
  /* grid-row: 2 / 5; */
  grid-row: span 4;
}

/* .grid-container {
  display: grid;
  height: 380px;
  grid-template-rows: auto 300px 100px;
}

header {
  background-color: lavender;
  padding: 10px;
}

main {
  background-color: darkcyan;
}

footer {
  background-color: darkgray;
} */