@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900');
:root {
  /* mamá: 55-22-55-22-55 */

  --clr-violet: #AD1FEA;
  --clr-blue: #4661E6;
  --clr-dark-blue: #373F68;
  --clr-white: #fff;
  --clr-light-blue: hsl(231, 100%, 97%);

  --clr-light-blue-h: 231;
  --clr-light-blue-s: 100%;
  --clr-light-blue-l: 97%;

  --clr-grey: #647196;
  --clr-orange: #F49F85;
  --clr-bright-blue: #62BCFA;

  --ff-body: "Jost", sans-serif;

  --fs-h1: 3rem;
  --fs-h2: 2.5rem;

  --fw-h1: 900; /*font-weight: var(--fw-h1)*/

  --br-md: 6px;
}

body {
  background-color: var(--clr-light-blue);
  font-family: var(--ff-body);
}

.article-orange {
  --clr-accent: var(--clr-orange);
}

.article-violet {
  --clr-accent: var(--clr-violet);
}

.article-blue {
  --clr-accent: var(--clr-bright-blue);
}

article {
  max-width: 350px;
  color: var(--clr-dark-blue);
  border-top: solid 6px var(--clr-accent, black);
  padding: 32px;
  background-color: var(--clr-white);
  border-radius: var(--br-md);
  /* background-image:
    linear-gradient(90deg, 
      var(--clr-violet) 0%, 
      var(--clr-orange) 50%, 
      var(--clr-white) 100%); */
}

.primary-tag {
  color: var(--clr-grey, #647196);
  display: flex;
  gap: 16px;
  align-items: center;
}

.dot {
  display: block;
  width: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--clr-accent);
}

.secondary-tag {
  color: var(--clr-blue);
  background-color: hsl(231, 100%, 97%);
  background-color: 
    hsl(
      var(--clr-light-blue-h),
      var(--clr-light-blue-s),
      var(--clr-light-blue-l)
      );
  width: fit-content;
  padding: calc( 3 * 2px ) 16px;
  border-radius: 10px;
}

.secondary-tag:hover {
  background-color:
    hsl(
      var(--clr-light-blue-h), /* color */
      var(--clr-light-blue-s), /* saturado */
      calc( var(--clr-light-blue-l) * .95) /* 93%  claro */
      );
}
