body {
  font-family: sans-serif;
}

.flex-item {
  background-color: lavender;
  padding: 16px;
  border: solid 1px black;
}

.flex-container {
  border: dashed blueviolet 2px;
  height: 600px;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  align-items: center;

  gap: 10px;
  /* flex-wrap: wrap-reverse; */
}

#item-2 {
  background-color: black;
  color: white;

  /* flex-basis: 200px; */
  flex-grow: 2;
  order: 1;
}

#item-3 {
  flex-grow: 1;
  order: 2;
}