body {
  background-color: #FFF7F0;
  color: #030303;
  font-family: "Plus Jakarta Sans", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo img {
  width: 64px;
  aspect-ratio: 1;
}

#call-to-action {
  background-color: #030303;
  color: #FFF7F0;
  text-decoration: none;
  padding: 14px 45px;
  border-radius: 1000px;
}

.text-content {
  text-align: center;
}

h1 {
  font-size: 56px;
  margin-block-end: 22px;
}

.text-content p {
  color: #7A746E;
}

.image-container {
  display: flex;
  gap: 24px;
}

.image-container a {
  aspect-ratio: 4 / 5;
  background-color: lavender;
  border: #030303 solid 1px;
  flex-basis: 100%;
}
